h1{
font: normal 15px Arial, sans-serif;
margin:0;
padding:0;
}

.music_categ{
background:#EEE;
border: 1px solid #D4D4D4;
width:370px;
padding:10px;
padding-bottom:20px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

div{
width:330px;
height:86px;
background-color:#FFF;
border:1px solid #A6A6A6;
margin-top: 35px;
padding:15px;
}

img{
float:left;
margin-right: 15px;
border: 1px solid #A6A6A6;
}

p{
margin:0;
font-family: sans-serif;
font-size:11px;
}

.button_big{
background: url("../images/button.png");
color:white;
width:65px;
margin:25px 0 0 58px;
padding:1px;
font-size:11px;
border-top:2px solid #E57D7F; 
border-left:2px solid #9B2327; 
border-bottom: 2px solid #6D1111;
border-right: 2px solid #6D1111;
cursor:pointer;
}

.button_small{
background: url("../images/small_button.png");
color:white;
margin:25px 0 0 0;
width:55px;
padding:1px;
font-size:11px;
border-top:2px solid #E57D7F; 
border-left:2px solid #9B2327; 
border-bottom: 2px solid #6D1111;
border-right: 2px solid #6D1111;
cursor:pointer;
}

div:last-of-type .button_small, div:last-of-type .button_big{
margin-top:15px;
}